In [1]:
import pandas as pd
from requests import get
import itertools
import numpy as np
import io
# from pandas.io.common import ZipFile

In [2]:
import zipfile

In [3]:
def movie_preprocessing(movie):
    movie_col = list(movie.columns)
    movie_tag = [doc.split('|') for doc in movie['tag']]
#     print(movie_tag[:100])
    tag_table = {token: idx for idx, token in enumerate(set(itertools.chain.from_iterable(movie_tag)))}
    movie_tag = pd.DataFrame(movie_tag)
#     print(movie_tag)
#     print(tag_table.items())
    tag_table = pd.DataFrame(list(tag_table.items()))
    tag_table.columns = ['Tag', 'Index']
    tag_table = tag_table.set_index('Index')
    tag_table.sort_index(inplace=True)
    tag_table = tag_table.reset_index()
    print(tag_table)
#     return

    # use one-hot encoding for movie genres (here called tag)
    tag_dummy = np.zeros([len(movie), len(tag_table)])

    for i in range(len(movie)):
        for j in range(len(tag_table)):
            if tag_table['Tag'][j] in list(movie_tag.iloc[i, :]):
                tag_dummy[i, j] = 1
#                 if i < 2:
#                     print('!', tag_table['Tag'][j], list(movie_tag.iloc[i, :]))
#     print(tag_dummy[:3])
    
    # combine the tag_dummy one-hot encoding table to original movie files
    movie = pd.concat([movie, pd.DataFrame(tag_dummy)], 1)
    movie_col.extend(['tag' + str(i) for i in range(len(tag_table))])
    
    
    movie.columns = movie_col
    rename_dic = {}
    for i in tag_table['Index']:
        rename_dic['tag' + str(i)] = tag_table['Tag'][i]
#     print(dic)
    movie = movie.rename(columns=rename_dic)

    

    movie = movie.drop('tag', 1)
    return movie, tag_table

In [4]:
movie = pd.read_table('ml-10m/ml-10M100K/movies.dat', sep='::', names=['movie_id', 'movie_name', 'tag'], engine='python')
movie, tag_table = movie_preprocessing(movie)

    Index                 Tag
0       0           Adventure
1       1              Sci-Fi
2       2  (no genres listed)
3       3               Crime
4       4              Action
5       5              Horror
6       6                IMAX
7       7           Film-Noir
8       8         Documentary
9       9             Musical
10     10            Children
11     11            Thriller
12     12              Comedy
13     13           Animation
14     14               Drama
15     15                 War
16     16             Mystery
17     17             Fantasy
18     18             Western
19     19             Romance

In [5]:
movie.head()

,movie_id,movie_name,Adventure,Sci-Fi,(no genres listed),Crime,Action,Horror,IMAX,Film-Noir,...,Children,Thriller,Comedy,Animation,Drama,War,Mystery,Fantasy,Western,Romance
0,1,Toy Story (1995),1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2,Jumanji (1995),1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,Grumpier Old Men (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,5,Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Read ratings data

In [6]:
rating = pd.read_table("ml-10m/ml-10M100K/ratings.dat", sep="::", 
                       names=["user_id", "movie_id", "rating", "timestamp"], engine='python')

In [7]:
data = pd.merge(rating, movie, on="movie_id")

In [8]:
data.head()

,user_id,movie_id,rating,timestamp,movie_name,Adventure,Sci-Fi,(no genres listed),Crime,Action,...,Children,Thriller,Comedy,Animation,Drama,War,Mystery,Fantasy,Western,Romance
0,1,122,5.0,838985046,Boomerang (1992),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,139,122,3.0,974302621,Boomerang (1992),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,149,122,2.5,1112342322,Boomerang (1992),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,182,122,3.0,943458784,Boomerang (1992),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,215,122,4.5,1102493547,Boomerang (1992),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
len(data.movie_id.unique()) # in ratings not all movies

10677

## Split on test and train

In [10]:
data_sort = data.sort_values('timestamp')

In [11]:
data_sort.head()

,user_id,movie_id,rating,timestamp,movie_name,Adventure,Sci-Fi,(no genres listed),Crime,Action,...,Children,Thriller,Comedy,Animation,Drama,War,Mystery,Fantasy,Western,Romance
1300912,36955,47,5.0,789652009,Seven (a.k.a. Se7en) (1995),0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
799477,36955,21,3.0,789652009,Get Shorty (1995),0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3046094,36955,1079,3.0,789652009,"Fish Called Wanda, A (1988)",0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1227665,35139,1,4.0,822873600,Toy Story (1995),1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5842938,35435,11,4.0,822873600,"American President, The (1995)",0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [12]:
data_sort.shape

(10000054, 25)

In [21]:
data_sort_train = data_sort[:int(0.9 * data_sort.shape[0])]
data_sort_test = data_sort[int(0.9 * data_sort.shape[0]) + 1: data_sort.shape[0]]
print(data_sort_train.shape)
print(data_sort_test.shape)

(9000048, 25)
(1000005, 25)

In [14]:
len(data_sort_train.user_id.unique()) # unique users in train

64449

In [15]:
len(data_sort_test.user_id.unique()) # unique users in test

8287

In [16]:
mutual_users = set(data_sort_test.user_id.unique()) & set(data_sort_train.user_id.unique()) # unique users in test and train
len(mutual_users)

2858

In [17]:
len(data_sort_train.movie_id.unique()) # unique movies in train

9579

In [18]:
len(data_sort_test.movie_id.unique()) # unique movies in test

10116

In [22]:
# delete from test data users that are not in train
data_sort_test = data_sort_test[data_sort_test.user_id.isin(data_sort_train.user_id.unique())]
data_sort_test.shape

(195304, 25)

In [23]:
# delete from test data users that are not in train
data_sort_test = data_sort_test[data_sort_test.movie_id.isin(data_sort_train.movie_id.unique())]
data_sort_test.shape

(155034, 25)

In [24]:
# np.array(data_sort[["user_id", "movie_id", "rating"]].head(), dtype = np.int)
# np.array(data_sort_train[["user_id", "movie_id", "rating"]].head(), dtype = np.int)
# np.array(data_sort_test[["user_id", "movie_id", "rating"]].head(), dtype = np.int)

In [25]:
user_ids = sorted(list(set(data_sort_train['user_id'].tolist())))
user_map = {} # user_id: user_index
for i in range(len(user_ids)):
    user_map[user_ids[i]] = i
    
movies_ids = sorted(list(set(movie['movie_id'].tolist())))
movie_map = {} # mobie_id: movie_index
for i in range(len(movies_ids)):
    movie_map[movies_ids[i]] = i
    
# train
matrix_first_train = np.zeros((len(user_ids), len(movies_ids)))

data_matrix = np.array(data_sort_train[["user_id", "movie_id", "rating"]], dtype = np.int)

for i in range(len(data_matrix)):
    matrix_first_train[user_map[data_matrix[i, 0]], movie_map[data_matrix[i, 1]]] = data_matrix[i, 2]
    
# test
matrix_first_test = np.zeros((len(user_ids), len(movies_ids)))

data_matrix = np.array(data_sort_test[["user_id", "movie_id", "rating"]], dtype = np.int)

for i in range(len(data_matrix)):
    matrix_first_test[user_map[data_matrix[i, 0]], movie_map[data_matrix[i, 1]]] = data_matrix[i, 2]

In [26]:
matrix_first_train.shape

(64449, 10681)

In [27]:
matrix_first_test.shape

(64449, 10681)

In [28]:
from scipy import sparse
from scipy.sparse import linalg

In [29]:
matrix_first_train_sparse = sparse.csr_matrix(matrix_first_train)

In [30]:
u, s, v = linalg.svds(matrix_first_train_sparse, k=10)

In [31]:
u.shape

(64449, 10)

In [32]:
s_sqrt = np.sqrt(np.diag(s))

In [33]:
user_embedding = u @ s_sqrt
item_embedding = s_sqrt @ v

In [34]:
predicted_ratings = user_embedding @ item_embedding

In [35]:
predicted_ratings.shape

(64449, 10681)

In [36]:
predicted_ratings

array([[ 4.71296565e-01,  8.26978906e-01,  5.70770381e-03, ...,
        -5.53070549e-19,  1.30375180e-18,  9.72829913e-20],
       [ 1.16933956e+00,  2.43591065e-01,  5.91760601e-01, ...,
        -3.60149784e-17,  3.86702653e-17,  2.42766100e-17],
       [ 2.19745264e-01,  1.13787797e-01,  2.12510110e-02, ...,
        -1.97813847e-17,  2.05304981e-17,  1.32542736e-17],
       ...,
       [ 9.64091689e-01, -3.42454418e-02, -4.23791210e-01, ...,
        -1.90568962e-16,  1.99489616e-16,  1.18955522e-16],
       [ 1.10232175e+00,  8.45549218e-01,  2.37776546e-01, ...,
        -5.70577015e-17,  6.24349191e-17,  3.51134855e-17],
       [ 1.31463535e+00,  3.80015639e-01,  1.88168123e-01, ...,
        -3.70419708e-17,  3.86987330e-17,  2.31229932e-17]])

In [37]:
# def model(user_id, movie_id, ganre_id, model):
#     return predicted_ratings[user_id, movie_id]

In [38]:
import sktensor
import numpy as np
from sktensor import dtensor, cp_als, sptensor

In [39]:
ratings2 = np.array(data_sort_train.drop(["timestamp", "movie_name"], axis=1), dtype=np.int)
# tensor_train = np.zeros((len(user_ids), len(movies_ids), len(tag_table)))

user_indexes = []
movie_indexes = []
ganre_indexes = []
values = []
for i in range(len(ratings2)):
    user_index = user_map[ratings2[i, 0]]
    movie_index = movie_map[ratings2[i, 1]]
    for j in range(len(ratings2[0])-3):
        if ratings2[i, j+3] == 1:
            user_indexes.append(user_index)
            movie_indexes.append(movie_index)
            ganre_indexes.append(j)
            values.append(ratings2[i, 2])

tensor_train = sptensor((user_indexes, movie_indexes, ganre_indexes), values, dtype=float)

In [40]:
tensor_train.shape

(64449, 9986, 20)

In [41]:
# tensor_train

In [42]:
# ratings_test = np.array(data_sort_train.drop(["timestamp", "movie_name"], axis=1), dtype=np.int)
# # tensor_test = np.zeros((len(user_ids), len(movies_ids), len(tag_table)))

# # for i in range(len(ratings_test)):
# #     for j in range(len(ratings_test[0])-3):
# #         if ratings_test[i, j+3] == 1:
# #             tensor_test[user_map[ratings_test[i, 0]], movie_map[ratings_test[i, 1]], j] = ratings_test[i, 2]

# user_indexes = []
# movie_indexes = []
# ganre_indexes = []
# values = []
# for i in range(len(ratings_test)):
#     user_index = user_map[ratings_test[i, 0]]
#     movie_index = movie_map[ratings_test[i, 1]]
#     for j in range(len(ratings_test[0])-3):
#         if ratings_test[i, j+3] == 1:
#             user_indexes.append(user_index)
#             movie_indexes.append(movie_index)
#             ganre_indexes.append(j)
#             values.append(ratings_test[i, 2])

# tensor_test = sptensor((user_indexes, movie_indexes, ganre_indexes), values)

In [ ]:
tensor_train.unfold(0)

In [43]:
def hosvd(X, k):
    d = len(X.shape)
    matrices = []
    for i in range(d):
        u, _, _ = linalg.svds(X.unfold(i), k=k[i])
        matrices.append(u)
        shape = list(X.shape)
        shape[i] = k[i]
        X = dtensor((u.T @ X.unfold(i)).reshape(shape))
    return X, matrices

In [44]:
def HOOI(X, k, iters=5):
    d = len(X.shape)
    _, matrices = np.ones((k)), [np.ones((X.shape[0], k[0])), np.ones((X.shape[1], k[1])), np.ones((X.shape[2], k[2]))] #hosvd(X, k) 
    for iter in range(iters):
        for i in range(d):
            x = X
            shape = list(X.shape)
            for j in range(d):
                if i != j:
                    shape[j] = k[j]
                    x = dtensor((matrices[j].T @ x.unfold(j)).reshape(shape))
            u, _, _ = linalg.svds(x.unfold(i), k=k[i])
            matrices[i] = u
     
    x = X
    shape = list(X.shape)
    for j in range(d):
        shape[j] = k[j]
        x = dtensor((matrices[j].T @ x.unfold(j)).reshape(shape))
    return x, matrices

In [45]:
len(tag_table)

20

In [72]:
hosvd_model = hosvd(tensor_train, (5, 5, 19))

In [73]:
hooi_model = HOOI(tensor_train, (5, 5, 19))

In [ ]:
# T = dtensor(np.random.normal(size=(3, 3, 3)))
# hosvd_model = hosvd(T, (2, 2, 2))
# hooi_model = nehooiovoe_razlozhenie(T, (2, 2, 2))
# def reconstruct(model):
#     x, matrices = model
#     shape = list(x.shape)
#     for j in range(d):
#         shape[j] = matrices[j].shape[0]
#         x = dtensor((matrices[j] @ x.unfold(j)).reshape(shape))
#     return x

In [48]:
def predict(user, movie, genre, model):
    if len(model) == 2:
        tensor, matrices = model
        user_matrix = matrices[0]
        movie_matrix = matrices[1]
        genre_matrix = matrices[2]
        if movie >= movie_matrix.shape[1]:
            return -1e10
        k = tensor.shape
        return sum([tensor[i,j,o] * (user_matrix[user,i] * movie_matrix[movie,j]) * genre_matrix[genre,o] for i in range(k[0]) for j in range(k[1]) for o in range(k[2])])
    return model[user, movie]

In [49]:
movie_arr = movie.values
a = [[] for _ in range(20)]
for i in range(len(movie_arr)):
    for j in range(2, 22):
        if movie_arr[i, j] == 1:
            movie_id = movie_arr[i, 0]
            a[j - 2].append((movie_id, movie_map[movie_id]))

In [ ]:
movie_arr

In [50]:
def DCG(ratings, k):
    result = 0.0
    for pos, rating in enumerate(ratings[:k]):
        result += (2.0 ** rating - 1.0) / np.log2(2 + pos)
    return result

def IDCG(ratings, k):
    return DCG(sorted(ratings, reverse=True), k)

def NDCG(ratings, predictions, k):
    idcg = IDCG(ratings, k)
    return DCG(ratings[list(reversed(np.argsort(predictions)))], k) / max(1e-10, idcg)

def Precision(ratings, k):
    result = 0.0
    for rating in ratings[:k]:
        if rating > 0:
            result += 1
    return result / max(1, min(len(ratings), k))

def IPrecision(ratings, k):
    return Precision(sorted(ratings, reverse=True), k)

def NPrecision(ratings, predictions, k):
    iprec = IPrecision(ratings, k)
    return Precision(ratings[list(reversed(np.argsort(predictions)))], k) / max(1e-20, iprec)

class SERP(object):
    def __init__(self, user_id, genre_id, rating_matrix, genre2movie, learn_matrix, users_map):
        user_id = users_map[user_id]
        self.movies_id = [movie_id for movie_id in genre2movie[genre_id] if learn_matrix[user_id,movie_id[1]] == 0]#FIXME]]
        self.user_id = user_id
        self.genre_id = genre_id
        self.ratings = np.array([rating_matrix[user_id, movie_id[1]] for movie_id in self.movies_id])
        self.scores = []
        self.metric_value = 0.0
    
    def clean_up(self):
        self.scores = []
        self.metric_value = 0.0
    
    def evaluate(self, model, metric):
        self.clean_up()
        for movie_id in self.movies_id:
            self.scores.append(model(self.user_id, movie_id[1], self.genre_id))
        self.scores = np.array(self.scores)
        self.metric_value = metric(self.ratings, self.scores)
        return self.metric_value
     
    def evaluate_without_predicting(self, metric):
        self.metric_value = metric(self.ratings, self.scores)
        return self.metric_value

In [51]:
ratings3 = np.array(data_sort_test.drop(["timestamp", "movie_name"], axis=1), dtype=np.int)

user_indexes = []
ganre_indexes = []

for i in range(len(ratings3)):
    for j in range(len(ratings3[0])-3):
        if ratings3[i, j+3] == 1:
            user_indexes.append(ratings3[i, 0])
            ganre_indexes.append(j)

test = list(zip(user_indexes, ganre_indexes))

In [52]:
len(test)

410872

In [53]:
total = len(set(test))
serps = []
for i, (user_id, genre_id) in enumerate(set(test)):
    serps.append(SERP(user_id, genre_id, matrix_first_test, a, matrix_first_train, user_map))

In [54]:
metrics_for_svd = [
    np.mean([
        serp.evaluate(model=lambda x, y, z, m=predicted_ratings: predict(x, y, z, m),
                      metric=lambda r, s, k=5: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=10: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=20: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=1: NPrecision(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=5: NPrecision(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=10: NPrecision(r, s, k))
        for serp in serps
    ]),
]

In [55]:
metrics_for_svd

[0.18292797033052602,
 0.19959877896812156,
 0.22319331803787185,
 0.23352879349449576,
 0.2334997510648891,
 0.2613390052781268]

In [74]:
metrics_for_hosvd = [
    np.mean([
        serp.evaluate(model=lambda x, y, z, m=hosvd_model: predict(x, y, z, m),
                      metric=lambda r, s, k=5: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=10: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=20: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=1: NPrecision(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=5: NPrecision(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=10: NPrecision(r, s, k))
        for serp in serps
    ]),
]

In [75]:
metrics_for_hosvd

[0.011060497463184146,
 0.011959613937541679,
 0.014370620844939635,
 0.02857221884162195,
 0.01579401080562778,
 0.017251993456562798]

In [76]:
metrics_for_hooi = [
    np.mean([
        serp.evaluate(model=lambda x, y, z, m=hooi_model: predict(x, y, z, m),
                      metric=lambda r, s, k=5: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=10: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=20: NDCG(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=1: NPrecision(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=5: NPrecision(r, s, k))
        for serp in serps
    ]),
    np.mean([
        serp.evaluate_without_predicting(metric=lambda r, s, k=10: NPrecision(r, s, k))
        for serp in serps
    ]),
]

In [77]:
metrics_for_hooi

[0.010406218953013375,
 0.011419355492797068,
 0.013885027984936075,
 0.022736073463517175,
 0.01579401080562778,
 0.017251993456562798]